<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Calling </title>
    <style>
        #info{
            color: red;
            }
    </style>
    
</head>


<body>
    <h1>API EXAMPLE </h1>
    <input type="number"  id="numberid">
    <button onclick="getInfo()">Get Info</button>
    <div id="info"></div>
    <script>
      

        function getInfo() {
          var nums = document.getElementById('numberid').value;
          console.log(nums)
          var res = 'https://swapi.dev/api/films/nums/'+ nums + '/'
          console.log(res)
            fetch('https://swapi.dev/api/films/'+nums+'/').then(Response => {
                if (Response.ok) {
                    return Response.json();
                }
                else {
                    throw new Error('Network was not Okay');
                }
            })
            .then(data => {
          const infoDiv = document.getElementById('info');
          infoDiv.innerHTML = `
            <h2>${data.title}</h2>
            <ul>
                <li>Episode id: ${data.episode_id}</li>
              <li>Director: ${data.director}</li>
              <li>Producer: ${data.birth_year}</li>
              <li>Release Date: ${data.release_date}</li>

            </ul>
          `;
        })
        .catch(error => {
          console.error('There was a problem with the fetch operation:', error);
        });
    }
    </script>

</body>

</html>