.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  *{
    padding: 2px;
    margin: 2px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button:focus {
    outline: none;
    box-shadow: 0 0 3px 3px rgba(0, 123, 255, 0.3);
  }
  .films-container {
    text-align: center;
    margin-top: 20px;

  }
  
  .error {
    color: blue;
  }
  
  .name {
    color: blue;
  }
  
  .mass {
    color: blue;
  }
  
  .film-link {
    color: blue;
    text-decoration: none;
  }
  
  .film-link:hover {
    text-decoration: underline;
  }
  .table-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #007bff;
    color: #ffffff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  input[type="text"],
input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgba(0, 123, 255, 0.3);
}

  
      