<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="1">
            <tr>
                <td colSpan={2}><h1>Ques.{ini + 1}.{star[ini].question}</h1></td>
            </tr>
            <tr>
                <td><h3><label><input type='radio' name='option'></input>{star[ini].opta}</label></h3></td>
                <td><h3><label><input type='radio' name='option'></input>{star[ini].optb}</label></h3></td>
            </tr>
            <tr>
                <td><label><input type='radio' name='option'></input>{star[ini].optc}</label></td>
                <td><h3><label><input type='radio' name='option'></input>{star[ini].optd}</label></h3></td>
            </tr>
        </table>
        <br></br>
        <input type='radio' className='hiddenradio' name='option' checked></input>
        </center>

</body>
</html>