<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>

<body>

    <button type="button" onclick="setItem('harsh')">Set Item</button>
    <button type="button" onclick="getItem()">Get Item</button>
    <button type="button" onclick="let t= RemoveItem()">Remove Item</button>
    <h3 id="demo"> </h3>




    <script>
        let arr = ['ram', 'shyam', 'harsh', 'CR', 'aman'];
        let valu = '';
        console.log(arr)

        function setItem(name) {
            arr.push(name);
            localStorage.setItem('Array', arr);
        }
        function getItem(name) {
            console.log(localStorage.getItem('Array'));
            valu = localStorage.getItem('Array');

            return localStorage.getItem('Array');

        }
        function RemoveItem() {
            arr = []
            return localStorage.removeItem('Array');
        }
        document.getElementById('demo').innerHTML = getItem();

    </script>
</body>

</html>