<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script> 
            let arr = ['Mumbai', 'Delhi', 'Varanasi', 'Kanpur', 'Lucknow'];
            console.table(arr);
            function pushData(){
                arr.push(10);
                console.table(arr);

            }
            function popData(){
                arr.pop();
                document.getElementById('test').innerHTML = arr;
                console.table(arr)
            }
            function shiftData(){
                arr.shift();
                console.table(arr)
            }
            function unshiftData(){
                arr.unshift('peelikothi','jammu');
                console.table(arr)
            }
            
            




    </script>
</head>

<body>
    <div id="test">

    </div>
<input type="button" onclick="pushData()" value="Push">
<input type="button" onclick="popData()" value="Pop">
<input type="button" onclick="shiftData()" value="Shift">
<input type="button" onclick="unshiftData()" value="Unshift">

</body>

</html>